.press-text span {

}/*Core Styles */

		
		html, body {
			height: 100%;
			width: 100%;
		}

		body {
			/*position: relative;*/
			overflow-x: hidden;
		}

		.hide {
			visibility: hidden;
			/*transition: all .4s ease;*/
		}

    .fixed-h {
      height: 14em;
    }

    .white-box h3 {
        color: black;
      }

      .white-box h3 a {
        color: black;
      }

      .white-box h3 a:visited {
        color: black;
      }

		.pushed {
			-webkit-transform: translateX(-260px);
			-moz-transform: translateX(-260px);
			-o-transform: translateX(-260px);
			transform: translateX(-260px);
			transition: all .4s ease;
		}

		.reset-push {
			-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			-o-transform: translateX(0);
			transform: translateX(0);
			transition: transform .4s ease;
		}

		.wrapper {
			position: static;
			transition: all .4s ease;
		}

    .pushyy {
      margin-left: .8em;
    }

		.none {
			display: none;
		}

		section {
			display: table;
			width: 100%;
		}

		img {
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			display: block;
		}

		h1, h2, h3, .play {
			font-family: 'AlphaRegular', sans-serif;
			margin: 0;
			letter-spacing: 2px;
		}

		h2 img {
			min-width: 0;
		}

		h3 {
			font-family: 'AlphaBold', sans-serif;
			letter-spacing: 0;
			
		}

		.relative {
			position: relative;
		}

		#two, #three {
  			display: block;
  		}

  		#three {
  			clear: both;
  		}

  	p {
			font-family: 'Trocchi', serif;
		}



		.clr {
			clear: both;
		}

		.full {
			width: 100%;
		}

		.fl-left {
			float: left;
		}

		.fl-right {
			float: right;
		}

		.half {
			width: 50%;
		}

		.quarter {
			width: 25%;
		}


		.down {
  			-webkit-transform: translateY(60px);
  			-moz-transform: translateY(60px);
  			-o-transform: translateY(60px);
  			transform: translateY(60px);
  			opacity: 0;
  			transition: all .4s ease;
  		}

  		.black {
  			background: black;
  		}

  		.white {
  			background: white;
  		}

  		.go-up {
  			-webkit-transform: none;
  			-moz-transform: none;
  			-o-transform: none;
  			transform: none;
  			opacity: 1;
  			transition: all .6s ease;
  		}

  		.footer a:hover {
  			color: #3f565e;
  			transition: color .4s ease;
  		}

  		.fullvid {
    		width: 100%    !important;
    		height: 100%   !important;
    		left:0;
    		position:absolute;
    		top:0;
		}

		  .nudge {
		    margin-left: -2px;
		}

 #preloader {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 20000;
	min-width: 0;
	background-image: url(../img/8.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
}

#preloader img {
	width: 96px;
	height: 83px;
	min-width: 0;
	margin: auto;
	position: absolute;
	top: 46%;
	left: 46%;

}

/*.image-loader {
	position: absolute;
	width: 1px;
	height: 1px;
	top: -1000px;
	left: -1000px;
	z-index: -99999;
	background:
	url(../img/bacardi-book.gif),
	url(../img/1920bg.jpg),
	url(../img/tulla-left1.jpg),
	url(../img/caz-slide.jpg),
	url(../img/dewars-intro.jpg),
	url(../img/tulla-initial.jpg),
	url(../img/tullamore-intro.jpg),
   	url(../img/tulla-initial.jpg),
   	url(../img/tulla-roll.jpg),
   	url(../img/bacardi-initial.jpg),
   	url(../img/bacardi-roll.jpg),
   	url(../img/dewars-initial.jpg),
   	url(../img/dewars-roll.jpg),
   	url(../img/caz-initial.jpg),
   	url(../img/caz-roll.jpg),
   	url(../img/jeep.jpg),
   	url(../img/follow.jpg),
   	url(../img/culture-white.png),
   	url(../img/map-header.png),
   	url(../img/caz-intro.jpg),
   	url(../img/caz-bride.jpg),
   	url(../img/bottom-full.jpg),
   	url(../img/dewars-slide.jpg),
   	url(../img/eyeball.png),
   	url(../img/rockers.jpg),
   	url(../img/person3.jpg),
   	url(../img/person4.jpg),
   	url(../img/office-full.jpg),
   	url(../img/culture-slide.jpg),
   	url(../img/tulla-slide.jpg),
   	url(../img/tulla-rain1.jpg),
   	url(../img/tulla-rain2.jpg),
   	url(../img/tulla-bl.jpg),
   	url(../img/tulla-white.png),
   	url(../img/tulla-bros.jpg),
   	url(../img/tulla-wedding.jpg),
   	url(../img/tulla-right1.jpg),
   	url(../img/bacardi-blue-box.png),
   	url(../img/bottle.jpg),
   	url(../img/slide.jpg),
   	url(../img/portrait.jpg),
   	url(../img/clients-bg.png),
   	url(../img/adage.png),
   	url(../img/dewars-man.jpg),
   	url(../img/dewars-car.jpg),
   	url(../img/dewars-hand.jpg),
   	url(../img/dewars-billboard.jpg),
   	url(../img/naked.jpg),
   	url(../img/agave-girl.jpg),
   	url(../img/night-time.jpg),
   	url(../img/ice.jpg),
   	url(../img/logo-big.png),
   	url(../img/sticker.jpg),
   	url(../img/flip-flops.png),
   	url(../img/march.jpg),
   	url(../img/storefront.jpg),
   	url(../img/pindrop2.png),
   	url(../img/bacardi-white.png),
   	url(../img/person1.jpg),
   	url(../img/person2.jpg),
   	url(../img/guerilla.jpg),
   	url(../img/drift.png),
   	url(../img/big-blue.png);
}*/

		/*-----------------                     -------------------- */
		/*-----------------        Header       -------------------- */
		/*-----------------                     -------------------- */

		.logo img {
			min-width: 0;
			margin: 20px 0 0 20px;
			width: 56px;
		}

		.logo {
			float: left;
		}

		.menu-bar {
			width: 100%;
			height: 70px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 101;
		}

		.dim-box {
			height: 100%;
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.5);
			-webkit-transform: translateZ(0);
			/*-webkit-transform: translateX(-100%);*/
			-webkit-transform: translateX(-100%);
			-moz-transform: translateX(-100%);
			-o-transform: translateX(-100%);
			transform: translateX(-100%);
			z-index: 100;
			transition: all .4s ease;

		}

		.dim-slide {
			-webkit-transform: translateZ(0);
			-webkit-transform: translateX(-260px);
			-moz-transform: translateX(-260px);
			-o-transform: translateX(-260px);
			transform: translateX(-260px);
			transition: all .4s ease;
		}



				/*----------------- Menu -------------------- */

					.menu {
						position: fixed;
						right: 0;
						width: 48px;
						height: 48px;
						margin: 20px 20px 0 0;
						background-color: rgba(255,255,255,.5);
						z-index: 9999;
						cursor: pointer;
						transition: all .6s ease;
						-webkit-transform: translateZ(1px);
					}

					.three-line, .three-line:before, .three-line:after {
						position: absolute;
						content: '';
						width: 26px;
						height: 2px;
						background: black;
						left: 11px;
						transition: all .3s ease;
					}

					.three-line {
						top: 23px;

					}

					.three-line:before {
						top: -9px;
						left: 0;
					}

					.three-line:after {
						top: 9px;
						left: 0;
					}


					.close {
						transition: all .1s ease;
						width: 0px;
					}

					.close:before {
						transition: all .5s ease;
						-webkit-transform: rotate(45deg) translate(8.5px, 6px) scale(1.2,1.2);
						-moz-transform: rotate(45deg) translate(8.5px, 6px) scale(1.2,1.2);
						-o-transform: rotate(45deg) translate(8.5px, 6px) scale(1.2,1.2);
						transform: rotate(45deg) translate(8.5px, 6px) scale(1.2,1.2);
					}

					.close:after {
						transition: all .5s ease;
						-webkit-transform: rotate(135deg) translate(-7px, 4px) scale(1.2,1.2);
						-moz-transform: rotate(135deg) translate(-7px, 4px) scale(1.2,1.2);
						-o-transform: rotate(135deg) translate(-7px, 4px) scale(1.2,1.2);
						transform: rotate(135deg) translate(-7px, 4px) scale(1.2,1.2);
					}

					.top-nav {
						position: fixed;
						width: 180px;
						height: 70px;
						right: 0;
						top: 0;
						-webkit-transform: translateZ(0);
					}

					.left-nav, .right-nav {

						float: left;
						margin: 20px 8px 0 0;
						height: 48px;
						width: 48px;
						cursor: pointer;
						background-color: rgba(255,255,255,.5);
						transition: background-color .4s ease;
						overflow: hidden;
						display: block;

						}

						.menu:hover, .left-nav:hover, .right-nav:hover {
							background-color: rgba(255,255,255,1);
							transition: background-color .3s ease;
						}

						.left-arrow, .right-arrow {
							position: relative;
							margin: auto;
							top: 16px;
							width: 16px;
							height: 16px;
							-webkit-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-o-transform: rotate(45deg);
							transform: rotate(45deg);
							opacity: 1;
							transition: opacity .3s ease;

						}

						.left-arrow {
							border-left: 2px solid black;
							border-bottom: 2px solid black;
							left: 4px;

						}

						.left-arrow:after {
							content: '';
							position: absolute;
							top: -42px;
							width: 16px;
							height: 16px;
							left: 40px;
							border-left: 2px solid black;
							border-bottom: 2px solid black;
						}

						.right-arrow {
							border-right: 2px solid black;
							border-top: 2px solid black;
							right: 4px;
						}

						.right-arrow:after {
							content: '';
							position: absolute;
							top: 40px;
							width: 16px;
							height: 16px;
							left: -42px;
							border-right: 2px solid black;
							border-top: 2px solid black;

						}

						.arrow-shuffle-left {
							-webkit-transform: translateX(-59.5px) rotate(45deg);
							-moz-transform: translateX(-59.5px) rotate(45deg);
							-o-transform: translateX(-59.5px) rotate(45deg);
							transform: translateX(-59.5px) rotate(45deg);
							transition: all .3s ease;
						}

						.arrow-shuffle-right {
							-webkit-transform: translateX(59.5px) rotate(45deg);
							-moz-transform: translateX(59.5px) rotate(45deg);
							-o-transform: translateX(59.5px) rotate(45deg);
							transform: translateX(59.5px) rotate(45deg);
							transition: all .3s ease;
						}

						.collapse {
							opacity: 0;
							transition: all .3s ease;
						}


					.menu-open {
						position: fixed;
						width: 257px;
						height: 100%;
						top: 0;
						right: 0;
						z-index: 98;
						background-color: white;
						opacity: 0;
					}




					.menu-open ul {
						font-family: 'AlphaRegular', sans-serif;
						margin-top: 0;
						list-style-type: none;
						padding: 130px 30px 0 0;
						text-align: right;
						
					}

					.social-menu {
						position: absolute;
						bottom: 5px;
						right: 0;
						width: 100%;
						padding: 20px;
					}

					.wrapper {
						position: relative;
						z-index: 99;
						overflow: hidden;
					}

					.social {
						display: inline-block;
						width: 38px;
						height: 38px;
						padding: 0 5px;
						opacity: 1;
						transition: opacity .4s ease;
						cursor: pointer;
					}

					.linked-in {
						background: url(../img/linkedin.png) center no-repeat;
					}

					.tumblr {
						background: url(../img/twitter.png) center no-repeat;
					}

			/*		.social:nth-of-type(3) {
						background: url(../img/pinterest.png) center no-repeat;
					}*/

					.social:hover {
						opacity: .4;
						transition: all .4s ease;
					}

					.menu-open li {
						padding-top: 10px;
					}

					.menu-open a {
						text-decoration: none;
						color: black;

					}

					.nav-link {
    				display: inline-block;
    				position: relative;
    				padding-bottom: 3px;

					}

					.nav-link:after {
					    content: '';
					    display: block;
					    position: absolute;
					    right: 0;
					    bottom: 0;
					    height: 3px;
					    width: 0;
					    background: transparent;
					    transition: width .4s ease, background-color .33s ease;

					}

					.nav-link:hover:after {
					    width: 100%;
					    background: black;
					    -webkit-transform: translateZ(0);
					}

					.current {
						display: inline-block;
						border-bottom: 3px solid #AAA;
						padding-bottom: 3px;
						margin-bottom: 1px;

					}

				/*----------------- End Menu -------------------- */





		.intro, .bottom, .content {
			display: table-row;
			/*background: green;*/
		}

		.intro-bg, .bottom-bg {
			position: relative;
			top: 0;
			left: 0;
		}

		.intro-bg {
			max-height: 700px;
			min-height: 700px;
			background-size: cover;
			-webkit-transition: all .4s ease;
		}

		.intro-text {
			 position: absolute;
			 top: 0;
  			bottom: 0;
  			left: 0;
  			right: 0;
  			height: 100px;
  			width: 100%;
  			margin: auto;
  			text-align: center;
		}

		.nav-circle {
			position: absolute;
			background-color: #030303;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			top: 100%;
  			bottom: 0;
  			margin-left:center;
  			left: 0;
  			right: 0;
  			margin: auto;
  			display: block;
  			cursor: pointer;
  			z-index: 100;
  			overflow: hidden;
  			-webkit-transform: translateZ(0);
  		}

  		.down-arrow, .down-arrow:before {
  			position: relative;
  			width: 13px;
  			height: 13px;
  			top: 14px;
  			left: 18px;
  			z-index: 200;
  			border-bottom: 2px solid white;
  			border-left: 2px solid white;
  		}

  		.down-arrow {
  			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
  		}

  		.down-arrow:before {
  			position: absolute;
  			content: "";
  			top: -42px;
  			left: 40px;
  		}

  		.arrow-shuffle-down {
			-webkit-transform: translateY(59.5px) rotate(-45deg);
			-moz-transform: translateY(59.5px) rotate(-45deg);
			-o-transform: translateY(59.5px) rotate(-45deg);
			transform: translateY(59.5px) rotate(-45deg);
			transition: all .25s ease;
		}

  		@-moz-document url-prefix() {
                        .nav-circle {
                        top: 96%;
                    }
                    }

		.intro-text h1, .intro-text h2 {
			color: white;
		}

		.intro h2 {
			font-size: 1.1em;
			margin: auto;
			margin-top: 15px;
			width: 220px;
			text-align: center;

		}

		.intro h2 a, .play {
			text-decoration: none;
			color: white;
		}

		.play {
			font-size: 1.1em;
			display: inline-block;
			margin-top: 14px;
			width: 290px;
			text-align: center;
			margin-left: -24px;

		}

		.intro-text h2:after, .play:after {
			position: absolute;
			top: 56%;
			margin-left: 10px;
			content: "";
			background-image: url(../img/play-both.png);
			background-position: -17px;
			background-color: rgba(0,0,0,0);
			background-repeat: no-repeat;
			width: 34px;
			height: 34px;
			border-radius: 50%;
			border: 3px solid white;
			transition: background-color .5s ease;

		}

		.intro-text h2:hover:after, .play:hover:after {
			background-position: 5px;
			background-color: rgba(255,255,255,1);
			transition: all .25s ease;
			border: 3px solid gray;
		}


		/*-----------------                     -------------------- */
		/*-----------------        Content      -------------------- */
		/*-----------------                     -------------------- */

		.left, .right {
			width: 50%;
			float: left;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-o-box-sizing: border-box;
			box-sizing: border-box;
		}


		.story {
		  bottom: 0;
		  height: 390px;
		  left: 0;
		  margin: auto;
		  position: absolute;
		  top: 0;
		  right: 0;
		  width: 500px;
		  color: #8d8c8c;
		  line-height: 22px;
		  font-family: 'Trocchi', serif;
		  letter-spacing: 1px;
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  -o-box-sizing: border-box;
		  box-sizing: border-box;
		  /*padding: 30px;*/
		  color: black;
		}

		.story p {
			font-size: .8em;
			color: #8d8c8c;
		}

		.story h1 {
			font-family: 'AlphaBold', sans-serif;
			font-size: 2.2em;
			letter-spacing: 0;
			padding-bottom: 20px;
		}

		.story h2 {
      font-family: 'Trocchi', serif;
			font-size: 1.2em;
			padding-bottom: 20px;
			padding-top: 10px;
		}

		.new-quote {
			font-size: 1.2em;
			color: white;
			line-height: 25px;
			font-family: 'Trocchi', serif;
			letter-spacing: 1px;
			 bottom: 0;
			 height: 130px;
			 left: 0;
			 margin: auto;
			 position: absolute;
			 top: 0;
			 right: 0;
			 width: 520px;
			 background: red;


		}

		.mark, .mark-bot {
			font-size: 2.5em;
			font-family: serif;
		}

		.mark {
			margin-left: -28px;
		}

		.mark-bot {
			line-height: 1px;
			margin-left: 8px;
		}

		.new-quote:after {
			display: inline-block;
			content:"- Jeff Weiss";
			float: right;
			margin: auto;
			margin-right: 25%;
		}

		.quote2 {
			display: table-cell;
			vertical-align: middle;
			padding: 30% 18%;
			-webkit-transition: padding .4s ease;

		}

		.quote2 p {
			font-size: .8em;
			color: #8d8c8c;
			line-height: 23px;

		}

		.quote2 h2 {
			margin: 25px 0;
		}

		.quote {
			bottom: 0;
			height: 150px;
			left: 0;
			margin: auto;
			position: absolute;
			top: 0;
			right: 0;
			width: 600px;
			color: white;
			font-size: 1.2em;
			line-height: 30px;
			font-family: 'Trocchi', serif;
			letter-spacing: 1px;
		}

		/*.quote:after {
			display: inline-block;
			content:"- Jeff Weiss";
			float: right;
			margin: auto;
			margin-right: 25%;
			margin-top: 20px;
		}*/

    .quote-author {
      float: right;
      width: 60%;
      margin-top: 2em;
      line-height: 17px;
      padding: 1em;
      font-size: .8em;
      margin-right: 5%;
    }

    .quote-author span {
      display: block;
    }

		.white-box {
			background: white;
			font-family: 'Trocchi', serif;
			float: left;
			width: 50%;
			padding: 40px 30px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-o-box-sizing: border-box;
			box-sizing: border-box;
			text-align: center;
		}

		.white-box p {
			color: #8d8c8c;
			font-size: .8em;
			line-height: 22px;
			min-width: 85%;
			margin: auto;
			margin-top: 20px;
		}

    .adage {
      bottom: 0;
      height: 100px;
      left: 0;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      width: 590px;
      color: black;
      line-height: 34px;
    }

    .date {
      font-family: 'AlphaBold', sans-serif;
      position: absolute;
      top: 13%;
      left: 8%;
    }

    .adage span {
      font-size: .9em;
      margin: auto;
      float: left;
      margin-left: 3px;
      margin-top: 10px;
    }

    .adage h2 {

      font-size: 2em;
      letter-spacing: 0;

    }

    .adage a {
      color: #3f565e;
      text-decoration: none;
    }

    .adage-text {
      position: absolute;
      bottom: 13%;
      right: 8%;
      height: 56px;
      width: 131px;
      background: url(../img/adage-text.png) center no-repeat;
    }


		/*-----------------                     -------------------- */
		/*-----------------          Footer     -------------------- */
		/*-----------------                     -------------------- */

		.footer {
			background: white;
			width: 100%;
			font-family: 'AlphaBold', sans-serif;
			font-size: 1em;
			float: left;
		}

		.location, .contact, .copyright {
			float: left;
			width: 33.3%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-o-box-sizing: border-box;
			box-sizing: border-box;
		}

		.location a, .contact a {
			text-decoration: none;
			color: #adadac;
			display: block;
			margin-top: 10px;
		}

		.location {
			padding: 84px 0 116px 80px;
		}

		.contact {
			padding: 84px 0 116px 0px;
		}

		.copyright {
			padding: 190px 20px 10px 30px;
			text-align: right;
			font-family: 'Trocchi', serif;
			font-size: .8em;
		}

		.slide-able {
			-webkit-transform: translateY(160px);
			-moz-transform: translateY(160px);
			-o-transform: translateY(160px);
			transform: translateY(160px);
		}

		.slide-in {
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
			transition: all .45s ease;
		}

		.slide-in:nth-of-type(even) {
			transition: all .7s ease;
		}

		.already-visible {
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
		}





		/*----------------- Media Queries -------------------- */


		@media screen and (max-device-width: 2560px) {

		}

		@media screen and (max-width: 2560px) {

			.intro-bg {
			max-height: 900px;
			min-height: 900px;
		}

		}



		@media screen and (max-device-width: 1920px) {
			
		}

		@media screen and (max-width: 1920px) {
			.intro-bg {
			max-height: 700px;
			min-height: 700px;
		}


		}

		@media screen and (max-width: 1700px) {

		.quote {
			font-size: 1em;
		}

		.mark {
			margin-left: -28px;
		}

		}

		@media screen and (max-width: 1460px) {

			.quote {
				width: 500px;
				font-size: 1em;
				line-height: 24px;
			}

			.mark {
			margin-left: -24px;
			}
		}


		@media screen and (max-width: 1400px) {
			.intro-bg {
			max-height: 600px;
			min-height: 600px;
			background-position: 25% 100%;
		}


		}


		@media screen and (max-width: 1200px) {
			.intro-bg {
			max-height: 500px;
			min-height: 500px;
			background-position: 35% 100%;
		}

		.copyright {
			float: none;
			width: 100%;
		}

		.location, .contact {
			width: 50%;
		}

		.story p {
			font-size: .6em;
			line-height: 18px;
		}

		.story h1 {
			font-size: 2em;
		}

		.story h2 {
			font-size: 1.2em;
		}

		.story {
			width: 400px;
			height: 360px;
		}

		.quote {
				width: 440px;
				font-size: .8em;
				line-height: 20px;
				height: 110px;
			}

			.mark {
			margin-left: -20px;
		}

		.white-box p {
				font-size: .7em;
				line-height: 15px;
			}

}

    @media screen and (max-width: 800px) {

      .vid-cl {
      display: none;
    }

    }



/*Ipad */
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {

    .vid-cl {
      display: none;
    }

		.slide-able {
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
		}

		.nav-link:after {
			display: none;
		}


			.intro-text h2:hover:after, .play:hover:after {
			background-image: url(../img/play-single.png);
			background-position: center;
			transition: none;
			background-color: rgba(0,0,0,0);
			border: 3px solid white;
		}

	}


		@media screen and (max-width: 1024px) {

			.story p {
				font-size: .6em;
				line-height: 17px;
			}

			.story h1 {
				font-size: 1.5em;
				padding-bottom: 5px;
			}

			.story h2 {
				font-size: 1em;
			}

			.story {
				height: 280px;
				width: 340px;
			}

			.quote {
				font-size: .6em;
				width: 300px;
				height: 120px;
			}

			.mark {
			margin-left: -16px;
		}

		}


		@media screen and (max-width: 768px) {

			.slide-able {
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
		}

    .slide-in {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      transition: none;
    }

    .slide-in:nth-child(even) {
      transition: none;
    }

		.nav-link:after {
			display: none;
		}


			.intro-text h2:hover:after, .play:hover:after {
			background-image: url(../img/play-single.png);
			background-position: center;
			transition: none;
			background-color: rgba(0,0,0,0);
			border: 3px solid white;
		}

		}

		@media screen and (max-width: 600px) {
			.pushed {
			/*margin-left: -260px;*/ /*OLD AND GOOD*/
			-webkit-transform: translateX(-100%);
			-moz-transform: translateX(-100%);
			-o-transform: translateX(-100%);
			transform: translateX(-100%);
			transition: all .4s ease;
		}

    .intro-text p {
      font-size: .7em;
    }

		.dim-box {
			display: none;
		}

					.menu-open {
						position: fixed;
						width: 100%;
						height: 100%;
						top: 0;
						right: 0;
						/*z-index: 98;*/
						background-color: white;
						opacity: 0;
						/*-webkit-transform: translateZ(0);*/
					}



					.menu-open ul:nth-of-type(1) li {
						font-size: 2em;
						display: block;
						padding: 25px;
						border-bottom: 2px solid black;
					}

					.menu-open a:after {
						display: none;
					}

					.current {
						border-bottom: 3px solid black;
					}


					.menu-open ul {
						font-family: 'AlphaRegular', sans-serif;
						margin-top: 0;
						list-style-type: none;
						padding: 45px 0 30px 0;
						text-align: left;
						font-size: 1em;
					}

					.social-menu {
						position: static;
						width: 50%;
						/*padding: 20px;*/
						margin: auto;
					}

					.social {
						margin: auto;
						padding: 20px;
						width: 35%;
						height: 100px;
					}

					.linked-in {
						background: url(../img/linked-big.png) center no-repeat;

					}

					.tumblr {
						background: url(../img/twitter-big.png) center no-repeat;
					}
		}



		@media screen and (max-width: 568px) {

			.intro-bg {
				max-height: 320px;
				min-height: 320px;
			}

      .white-box {
        width: 100%;
        padding: 2.6em 1em;
      }

      .white-box h3 {
        font-size: 1.8em;
      }

      .white-box p {
        font-size: .9em;
        line-height: 20px;

      }

		}

    @media screen and (max-width: 480px) {
      .story p {
        padding-top: 1em;
      }

    }


		@media screen and (max-width: 400px) {


				.menu-open ul:nth-of-type(1) {
					padding-top: 65px;
					padding-bottom: 0;
				}

				.menu-open ul:nth-of-type(1) li {
						font-size: 1.2em;
						display: block;
						padding: 12px;
						padding-left: 30px;
						border-bottom: 2px solid #afafaf;
					}


					.social {
						margin: auto;
						padding: 0px;
						width: 68px;
						height: 68px;
					}

					.menu-open ul:nth-of-type(2) {
						padding: 0;
					}

					.menu-open ul:nth-of-type(2) li{
						background-size: 77%;
					}

          .quote {
            height: 24%;
          }

		}

		@media only screen and (min-width : 320px) and (max-width : 568px) and (orientation : landscape){

			.menu-open ul:nth-of-type(1) {
					padding-top: 40px;
					padding-bottom: 0;
				}

				.menu-open ul:nth-of-type(1) li {
						font-size: 1.2em;
						display: block;
						padding: 13px;
						padding-left: 75px;
						border-bottom: 2px solid #afafaf;
					}

					.social {
            display: none;
						margin: auto;
						padding: 0;
						width: 58px;
						height: 58px;
					}

					.menu-open ul:nth-of-type(2) {
						padding: 0;
						padding-left: 190px;
					}

					.menu-open ul:nth-of-type(2) li{
						background-size: 77%;
					}

          .menu-open ul:first-of-type li:last-of-type {
            border-bottom: none;
          }


		}







		@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : landscape){

			.menu-open ul:nth-of-type(1) {
					padding-top: 40px;
					padding-bottom: 0;
				}

				.menu-open ul:nth-of-type(1) li {
						font-size: 1.2em;
						display: block;
						padding: 12px;
						padding-left: 75px;
						border-bottom: 2px solid #afafaf;
					}

					.social {
            display: none;
						margin: auto;
						padding: 0;
						width: 58px;
						height: 58px;
					}

					.menu-open ul:nth-of-type(2) {
						padding: 0;
						padding-left: 140px;
					}

					.menu-open ul:nth-of-type(2) li{
						background-size: 77%;
					}


		}

  @media screen and (max-width: 320px) {

    }









